<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- include('partials/header') %>

  <button><a href="./gallery">Click to discover animals</a></button>
 
  <%- include('partials/footer') %>
</body>
</html>