@import url('https://fonts.googleapis.com/css?family=Arvo:700|Ovo&display=swap');


/* Reset and consistency for background color */
body {
  margin: 0;
  padding: 0;

  background-color: #F8FAF6;
}

/* Header styles */
h1 {
  margin: 0;
  padding: 5vh;

  background-color: #242423;

  text-align: center;
  text-transform: uppercase;
  font-size: 52px;
  font-family: 'Arvo', serif;
  color: #F5CB5C;
  letter-spacing: 0.8vw;
}

h2 {
  padding-bottom: 0.5em;
  margin: 0;
  font-family: 'Ovo', serif;
  font-size: 24px;
  color: #454745;
  letter-spacing: 0.2vw;
}

/* Button style */
button a{
 display: flex;
 justify-content: center;

 padding: 3vh 5vw;

 text-decoration: none;

 font-size: 30px;
}


/* Gallery style */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a{
  text-decoration: none;
  text-align: center;
}

.card{
  margin: 2em;
  /* background-color: white;
  box-shadow: 0 0 10px rgba(14, 14, 14, 0.25); */
}

img {
  padding: 2em;

  border: 1px solid #B4B5B4;

  object-fit: cover;
  width: 250px;
  height: 250px;
}


/* Footer style */
footer {
  margin: 0;
  padding: 2vh;

  background-color: #F5CB5C;

  color: #242423;
  font-family: 'Ovo', serif;
  font-size: 16px;
}